body {
  background: #1e1e1e;
  margin: 0;
  color: white;
  font-family: Arial;
  text-align: center;
}

#canvas {
  background: white;
  border: 2px solid #555;
  display: block;
  margin: 20px auto;
}

.toolbar button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.title {
  margin-top: 15px;
}
